form {
	border: 2px solid pink;
	box-shadow: 20px 20px 50px 20px pink;
	margin: 100px 0;
	font-size: 15px;
	color: #c609c0;
	position: absolute;
	top:20px;
	right: 257px;
}
.youtobe-form {
	padding: 10px 30px;
	margin: 10px 0;
	width:460px;

}

.form-control {
	padding: 5px 10px;
	width: 450px;
}
.control-title {
	width: 150px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}
.button-control {
	margin-left: 160px; 
	display: inline-block;
	background-color: pink;
}

.password-control:hover {
	padding: 5px 10px;
	width: 450px;
}